* {
    margin: 0;
    padding: 0;
    border: 0;
    /*line-height: 1.4em;*/
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    font-family: 'Roboto';
}
p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #E5E5E5;
    letter-spacing: 1.5px;
}
a{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #E5E5E5;
    letter-spacing: 1.5px;
}
div#background_overflow, body{
    overflow: hidden;
}
div#background{
    position: absolute;
    margin: -8px;
    width: calc(100vw + 16px);
    height: calc(100vh + 16px);
    background-image: url(img/background.jpg);
    filter: blur(8px);
    -webkit-filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div#container{
    position: absolute;
    width: 100vw;
    height: 100vh;
}
header{
    position: absolute;
    width: 100vw;
    height: 116px;
}
header nav{
    position: absolute;
    right: 600px;
    float: left;
}
header nav li {
    float: left;
    height: 116px;
    width: 122px;
    list-style-type: none;
}
.flex100{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
header nav a {
    text-decoration: none;
}
header #search_box{
    position: absolute;
    right: 400px;
    float: left;
    height: 116px;
    width: 122px;
}
header #search_box form{
    width: 224px;
}
.text_input{
    height: 36px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    padding-left: 20px;
}
header #search_box input{
    color: #FFFFFF;
    width: 204px;
    background: none;
}
header #login_box{
    position: absolute;
    right: 150px;
    float: left;
    height: 116px;
    width: 122px;
}
.button{
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    height: 36px;
}
header #login_box a{
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    width: 117px;
    height: 36px;
    color: #48127B;
}

div#general{
    width: 100vw;
    height: calc(100vh - 116px);
    margin-top: 116px;
}
div#general #login{
    width: 464px;
    height: 597px;

    background: #09022E;
    border-radius: 11px;
    overflow: hidden;
}
#login #login_caption{
    position:relative;
    color:#FFFFFF;
    width: 100%;
    height: 233px;
    background-image: url(img/login.jpg);
    background-size: cover;
}
#login_caption #caption{
    position: absolute;
    bottom:33px;
    left:57px;
}
#login #login_form{
    position: relative;
    top:30px;
    display: flex;
    justify-content: center;
}
#login_form form{
    width:356px;
}
#login_form form > *{
    width:100%;
}
#login_form #login_button{

}